.container {
    width:960px;
    margin:0 auto;
}

a {
    text-decoration:none;
}

header, footer {
    background-color:white;
}

header logo {
    float:left;
}

header p{
    clear:both;
}

header input {
    float:right;
}

.header-menu {
    display:flex;
    text-align:center;
    list-style:none;
}

.header-menu a+ a {
    border-left:1px solid;
}

.header-menu a {
    flex:1;
}

.contents-wrapper {
    background-color:#f5f5dd;
}

nav, article {
    background-color:white;
}

nav {
    margin:20px;
}

h3 {
    background-color:#99bb22;
    border-radius:10px;
    color:white;
}

h3 img {
    margin-right:5px;
}

.recipe-list {
    list-style-image: url('images/icon/arrow.png');
}

.recipe-list a {
    display:block;
}

.recipe-list a+ a {
    border-top:1px dashed;
}

.mainView {
    clear:both;
}

.genre {
    float:left;
}

.purpose {
    clear:left;
    float:left;
}

.new-recipes {
    display:flex;
}

.new-recipe {
    flex:1;
}

.new-recipe p {
    width:100%;
}

/*.article {

}*/

.head-article, .japanese, .recommend {
    display:block;
}

.codecamp {
    clear:both;
    float:right;
}

.webdesign {
    clear:both;
    float:right;
}

footer {
    clear:both;
}