.container {
    width:960px;
    margin:0 auto;
}

main {
    background-color:#f5f5dd;
}

a {
    text-decoration:none;
}

header, footer {
    background-color:white;
}

header {
    border-bottom:1px solid #cccccc;
}

header logo {
    float:left;
}

header p{
    color:#664433;
    clear:both;
}

header input {
    float:right;
}

#search {
    height:20px;
    margin-right:5px;
}

.header-menu {
    display:flex;
    text-align:center;
    list-style:none;
}

.header-menu a+ a {
    border-left:1px solid;
}

.header-menu a {
    color:#664433;
    flex:1;
    padding:2px;
}

.mainView {
    width:100%;
}

.recipe-nav {
    margin:10px;
    background-color:white;
}

h3 {
    background-color:#99bb22;
    padding:5px;
    border-radius:25px;
    line-height:30px;
    font-size:20px;
    color:white;
}

h3 img {
    margin-left:10px;
    margin-right:10px;
    vertical-align:-20%;
}

.recipe-list {
    list-style-image: url('images/icon/arrow.png');
    text-align:left;
}

.recipe-list a {
    display:block;
    color:black;
}

.recipe-list li {
    margin:10px 0;
    font-size:14px;
    font-weight:bold;
}

.recipe-list a+ a {
    border-top:1px dashed;
}

.new-recipes {
    display:flex;
    justify-content: center;
    align-items:center;
}

.new-recipe {
    flex:1;
}

.new-recipe img {
    margin-bottom:0;
    padding-bottom:0;
}

.new-recipe p {
    font-size:10px;
    width:100%;
    margin-top:0;
    padding-top:0;
}

.section-img {
    display:inline-block;
}

.section-text {
    display:inline-block;
    vertical-align:top;
    font-size:14px;
    width:300px;
}

.section-text a{
    color:#fc8833;
    float:right;
}

.section-text img {
    margin-right:5px;
}

h4 {
    color:#664433;
}

.article {
    margin:5px;
}

.section {
    padding:5px;
}

.right-column img {
    margin:10px;
}

.left-column {
    width:200px;
    float:left;
}

.main-column {
    width:586px;
    float:left;
}

.right-column {
    width:155px;
    float:left;
}

footer {
    clear:both;
    border-top:1px solid;
    text-align:center;
}

.footer-list {
    display:flex;
    text-align:center;
    list-style:none;
}

.footer-list a {
    flex:1;
    padding:1px;
    font-size:11px;
    color:black;
}

.footer-list a+ a {
    border-left:1px solid #cccccc;
}