header, nav, article, aside, footer {
    border:solid 1px black;
}

img {
    width:300px;
}

.main-wrapper {
    display:flex;
}

nav {
    flex:1;
}

article {
    flex:3;
}

aside {
    flex:2;
}

