.container {
    margin:0 auto;
    width:500px;
    background-color:LightGrey;
    padding:50px;
    font-size:16px;
}

h1 {
    text-align:center;
    font-size:30px;
    letter-spacing:5px;
}

.box {
    background-color:white;
    padding:20px 30px;
    margin-bottom:60px;
}

.restaurants {
    border:3px solid red;
}

.box h2 {
    margin-top:10px;
    font-size:25px;
}

ul {
    list-style:square;
}

li {
    margin:10px auto;
}

.lady {
    background-color:LightPink;
}

.family {
    color:red;
}

.box p {
    background-color:Gainsboro;
    padding:10px;
}

.recommends {
    border:solid 3px blue;
}

dt {
    font-weight:bold;
    border-bottom:dashed 1px blue;
    border-left:solid 10px blue;
    padding-left:5px;
}

dd {
    margin-bottom:15px;
    margin-top:5px;
}

.recommends span{
    color:yellow;
}